* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header-Section {
    background-color: #06585e;
    color: white;
    padding: 10px;
    width: 100%;
    margin: 0px;
    display: inline-block;
    position: fixed;
}

.logo img {
    position: relative;
    padding-top: 10px;
    width: 200px;
    height: 80px;
    border-radius: 50%;
}

.con-wrapper {
    display: flex;
    height: cal(100% - 70px);
}

.con-wrapper .side-nav a {
    color: white;
}

.con-wrapper .side-nav {
    line-height: 30px;
    background-color: #234a57;
    height: auto;
    float: left;
    flex: 2;
    padding: 5px;
    color: white;
}

.con-wrapper .side-nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.con-wrapper .side-nav ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid #004044;
}

.con-wrapper .side-nav ul li:hover {
    background: #004044;
}

.con-wrapper .Main {
    height: 100%;
    flex: 8;
}

.side-nav ul li {
    list-style: none;
    display: block;
    text-decoration: none;
}

section {
    padding: 10px;
}

footer {
    width: 100%;
    background-color: #06585e;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: #FFFFFF;
}

footer p a {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: #FFFFFF;
}

.side-nav h3 {
    margin: -2px 0 0 0;
    padding: 0;
    font-size: 25px;
    font-weight: normal;
    font-style: italic;
    text-align: center;
    color: rgb(233, 234, 241);
    background: rgb(20, 58, 58);
}

.main-nav ul li {
    display: inline;
    font-style: italic;
    font-size: 15px;
    font-weight: normal;
    padding: 0px;
}

.main-nav ul li a {
    background: #004044;
    color: white;
    float: left;
    margin: 10px;
    border-radius: 3px;
}

.main-nav ul li a:hover {
    background: #079c4a;
}

.Main h2 {
    font-size: 30px;
    font-weight: bold;
}

.Main #texCol {
    color: #fff;
}


/* head section */

label.logo {
    color: white;
    line-height: 20px;
    padding: 0 100px;
    font-weight: bold;
    flex: 3;
}

.header-Section ul {
    float: right;
    flex: 7;
}

.header-Section ul li {
    display: inline-block;
    line-height: 80px;
}

.header-Section ul li a {
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
}

a.active {
    background: #079c4a;
}

a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    padding-left: 160px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    .header-Section ul li a {
        font-size: 16px;
    }
    a.active {
        background: #079c4a;
    }
    a:hover {
        background: #1b9bff;
        transition: .5s;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    .header-Section ul {
        position: fixed;
        width: 30%;
        height: 70vh;
        background: #2c3e50;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header-Section ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .side-nav ul li {
        display: block;
        line-height: 60%;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .header-Section ul li a {
        font-size: 15px;
    }
    a.active {
        background: #079c4a;
    }
    a:hover {
        background: #1b9bff;
        transition: .5s;
    }
    #check:checked~ul {
        left: 0;
    }
    .con-wrapper {
        display: inline-block;
    }
    .con-wrapper .side-nav ul {
        display: inline-flex;
    }
    .con-wrapper .side-nav ul li a {
        border: 1px solid #004044;
    }
    .con-wrapper .Main {
        display: inline-block;
    }
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}